.container {
  padding: 10px 0;
  background-color: var(--bg-main);
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* transition: background 0.3s ease; Плавный переход тем */
}

/* .title {
  text-align: center;
  color: var(--text-main);
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
} */
/* th {
  align-items: center;
} */
.groupsFlexContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.groupCard {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 12px;
  border: 1px solid var(--border);
  flex: 1 1 320px;
  max-width: 400px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.groupLetter {
  font-size: 20px;
  font-weight: 800;
  color: var(--accent); /* Твой оранжевый! */
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Декоративная полоска под буквой */
.groupLetter::after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(90deg, var(--accent), transparent);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--text-muted);
  padding: 8px 4px;
}

.table td {
  text-align: center;
  padding: 8px 4px;
  color: var(--text-main);
  border-bottom: 1px solid var(--border);
}
.table .teamCellHead {
  text-align: left;
}
.table .teamCell {
  /* display: flex; */
  text-align: left;
  /* align-items: center; */
  font-weight: 600;
}

.pts {
  color: var(--accent);
  font-weight: 800;
  text-align: right;
}

/* Эффект при наведении на строку */
.table tr:hover {
  background-color: var(--row-hover);
  cursor: default;
}
