.leagueCard {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition:
    transform 0.2s,
    border-color 0.2s;
  cursor: pointer;
  min-width: 275px;
}
.leagueCard:hover {
  border-color: var(--primary-500);
  transform: translateY(-2px);
}
.leagueIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-main);
  font-size: 22px;
}

.leagueInfo {
  flex-grow: 1;
}
.leagueName {
  margin: 0;
  padding-bottom: 6px;
  font-size: 20px;
  font-weight: 800;
  color: var(--accent);
}

.adminIcon {
  margin-left: 8px;
}
.blockData {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.blockData p {
  color: rgb(83, 83, 83);
}
.actionArea {
  color: var(--accent);
}
