.leagueCard {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  transition:
    transform 0.2s,
    border-color 0.2s;
  cursor: pointer;
  width: 100%;
}
.leagueCard:hover {
  border-color: var(--primary-500);
  /* transform: translateY(-1px); */
}
.leagueIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: var(--bg-main);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-main);
  font-size: 22px;
}

.leagueInfo {
  flex-grow: 1;
}
.leagueName {
  margin: 0;

  /* padding-bottom: 6px; */
  font-size: 22px;
  font-weight: 700;
  color: var(--accent);
}
.tournamentName {
  padding-left: 8px;
  margin: 0;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-main);
}
.adminIcon {
  margin-left: 8px;
}
.blockData {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.blockData p {
  color: rgb(83, 83, 83);
}
.actionArea {
  color: var(--accent);
}

@media (min-width: 1200px) {
  .leagueCard {
    width: 180px;
    height: 260px;
    background:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
      url("/bg_stats.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
