.page {
  padding-top: 40px;
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  /* width: 100%; */
  /* max-width: 800px; */
  flex-direction: column;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  /* background-color: var(--foreground); */
}

.intro {
  /* display: flex;
  flex-direction: column; */
  /* align-items: flex-start; */
  text-align: center;
  /* gap: 24px; */
}

.title {
  font-family: var(--font-family-Kanit);
  font-weight: 900;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  width: 100%;
  /* ФОН ТЕКСТРА */
  display: block;
  background: linear-gradient(to bottom, #0008ff 10%, #ffffff 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.descriptionTop {
  /* max-width: 440px; */
  font-size: 22px;
  /* line-height: 0px; */
  /* text-wrap: balance; */
  color: var(--text-blue-title-secondary);
  padding-bottom: 5px;
}
.descriptionBottom {
  font-style: italic;
  /* max-width: 440px; */
  font-size: 18px;
  line-height: 0px;
  text-wrap: balance;
  color: var(--text-blue-title-secondary);
  padding-bottom: 40px;
}
.descriptionBottom {
  font-style: italic;
  /* max-width: 440px; */
  font-size: 18px;
  line-height: 0px;
  text-wrap: balance;
  color: var(--text-blue-title-secondary);
}
.comingSoon {
  color: var(--text-primary);
  margin: 0 auto;
  width: 300px;
  text-align: center;
  padding: 20px 15px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 22px;
  border: 1px solid var(--border);
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.05);
}
