.container {
  padding: 10px 0;
  background-color: var(--bg-main);
  /* min-height: 100vh; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profileHeader {
  display: flex;
  align-items: center;
  gap: 25px;
  /* margin-bottom: 40px; */
  background: var(--bg-card);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.userMainInfo {
  display: flex;
  flex-direction: column;
}

.nickname {
  font-size: 28px;
  margin: 0 0 10px 0;
}

.badgesRow {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Для мобилок */
}

.badge {
  display: flex;
  align-items: center;
  gap: 6px;
  background: var(--bg-card);
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.statsBlock {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background: var(--bg-card);
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.statCard {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
  flex: 1; /* Карточки будут делить пространство поровну */
}

.statIcon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.statContent {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: #888;
}

.value {
  font-size: 24px;
  font-weight: bold;
}

/* ОСНОВНОЙ ЛАЙАУТ НА FLEX */
.mainLayout {
  display: flex;
  gap: 15px;
  /* align-items: flex-start; */
}

.sideSection {
  /* flex: 0 0 300px; Фиксированная ширина 300px, не растет, не сжимается */
  display: flex;
  flex-direction: column;
}

.mainSection {
  /* flex: 1; Занимает всё оставшееся пространство */
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 20px;
  text-align: left;
  border-left: 4px solid var(--accent);
  padding-left: 20px;
  padding-bottom: 10px;
}

.tournamentList {
  display: flex;
  flex-direction: column;
  background: var(--bg-card);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  gap: 12px;
}

.tournamentCard {
  display: flex;
  flex-direction: column;
}

.tHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: bold;
}

.tDetails {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #888;
}

.predictionFeed {
  display: flex;
  flex-direction: column;
  background: var(--bg-card);
  border-radius: 20px;
  padding: 12px 20px;
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.matchData {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 0 8px 30px;
  border-bottom: 1px solid var(--card-border);
}

.teamsRow {
  font-weight: bold;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.vs {
  color: #f97316;
  padding: 0 15px;
}

.scoresInfo {
  font-size: 14px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.actualScore {
  color: #4ad381;
}

/* АДАПТИВНОСТЬ ЧЕРЕЗ FLEX-DIRECTION */
@media (max-width: 768px) {
  /* .statsBlock {
    flex-direction: column;
  } */

  .mainLayout {
    flex-direction: column;
  }

  .sideSection {
    flex: 1 1 auto;
    width: 100%;
  }

  .profileHeader {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .badgesRow {
    justify-content: center;
  }
}
