.blockTime {
  width: 60px;
  text-align: center;
  font-weight: normal;
  font-size: 13px;
}
.blockScore {
  font-weight: bold;

  color: red;
}

.blockTeam {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 140px;
  padding: 7px;
  font-weight: bold;

  font-size: 14px;
}
.groupInfo {
  font-weight: bold;
  width: 100px;
  font-size: 13px;
  color: rgb(96, 96, 96);
}
.blockInfo {
  font-weight: normal;
  font-size: 12px;
  color: gray;
}
