.container {
  width: 100%;
  background: var(--bg-card);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--neutral-800);
  padding: 12px;

  gap: 12px;
}
.timeInfo {
  font-size: 16px;
  color: var(--text-main);
  margin: 0 auto;
}
.matchContent {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.teamSection {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.teamScore {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--border-subtle);
  border-radius: 4px;
}
.teamName {
  display: flex;
  align-items: center;
  width: 65%;
  padding: 0 4px;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-main);
  align-items: center;
  justify-self: center;
  justify-content: center;
}
.scoreInput {
  width: 50px;
}
.actionArea {
  margin: 0 auto;
}
.saveBtn {
  width: 120px;
}
.btnContent {
  display: flex;
  align-items: center;
  gap: 12px;
}
