.card {
  width: 100%;
  background: var(--bg-card);
  border-radius: 8px;
  border: 1px solid var(--neutral-800);
  padding: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.timeInfo {
  font-size: 16px;
  color: var(--text-main);
  margin: 0 auto;
}
.matchMain {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.team {
  width: 65%;
  display: flex;
  align-items: center;
  /* gap: 4px; */
  justify-content: space-around;
  color: var(--text-main);
}
.teamScore {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.teamName {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 700;
  color: var(--text-main);
  /*  align-self: center; */
  align-items: center;
  justify-self: center;
  justify-content: center;
  /* margin: 0 auto; */
}
.scoreInput {
  width: 50px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  border: 1px solid var(--neutral-800);
  border-radius: 4px;
}
.actionArea {
  margin: 0 auto;
}
.saveBtn {
  width: 120px;
}
.btnContent {
  display: flex;
  align-items: center;
  gap: 12px;
}
