:root {
  --background: #ffffff;
  --text-blue-title-primary: #200089;
  --text-blue-title-secondary: #0c0034;
  --text-primary: #000000;

  --text-secondary: #999;
  --border: #000000;
  /* --foreground: #171717; */
  --font-family-Kanit: "Kanit", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --text-blue-title-primary: #7c5cff;
    --text-blue-title-secondary: #94a3b8;
    --text-primary: #ededed;
    --text-secondary: #a1a1a1;
    --border: #262626;
    /* --foreground: #ededed; */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
