:root {
  /* Primary (Оранжевый) */
  --primary-50: #fff4f0;
  --primary-100: #ffe8e0;
  --primary-500: #f97316; /* Основной акцент */
  --primary-900: #7a2406;

  /* Secondary (Синий) */
  --secondary-50: #f0f9ff;
  --secondary-500: #0ea5e9; /* Основной акцент */
  --secondary-900: #0c4a6e;

  /* Accent (Зеленый) */
  --accent-50: #ecfdf5;
  --accent-500: #10b981; /* Основной акцент */
  --accent-900: #064e3b;

  /* Neutral (Серый) — Фон и текст */
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --text-white: #f8f9fa;

  /* мои цвета */
  --bg-main: var(--neutral-50);
  --bg-header-main: var(--neutral-900);
  --bg-card: #ffffff;
  --text-main: var(--neutral-900);
  --text-secondary: var(--neutral-50);
  --input-bg: var(--neutral-800);
  --btn-text: #ffffff;
  --border-subtle: #ffffff9f;
  --font-family-Kanit: "Kanit", sans-serif;
}

/*   [data-theme="dark"]   */
.dark {
  --bg-main: var(--neutral-900);
  --bg-header-main: var(--neutral-900);
  --bg-card: var(--neutral-800);
  --text-main: var(--neutral-50);
  --text-secondary: var(--neutral-100);
  --border-subtle: #ffffff9f;
  --input-bg: rgba(255, 255, 255, 0.05);
  --btn-text: #ffffff;

  --card-border: var(--secondary-900);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.main-container {
  width: 100%;
  flex: 1;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 425px) {
  .main-container {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}
