:root {
  --background: #ffffff;

  /* CodeHype */
  --background-dark-ui: #171717;
  --background-header: #171717;
  /* Тонкая линия белая */
  --border-subtle: rgba(255, 255, 255, 0.1);
  /* Текст */
  --text-white: #f8f9fa;

  /* мои цвета */
  --text-blue-title-primary: #200089;
  --text-blue-title-secondary: #0c0034;
  --text-primary: #000000;
  --text-secondary: #999;
  --text-secondary-white: #f5f5f5;
  --border: #000000;
  --font-family-Kanit: "Kanit", sans-serif;
}

/*   [data-theme="dark"]   */
.dark {
  --background: #171717;
  --background-header: #171717;
  --text-blue-title-primary: #7c5cff;
  --text-blue-title-secondary: #94a3b8;
  --text-primary: #ededed;
  --text-secondary: #a1a1a1;
  --border: #262626;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
.main-container {
  width: 100%;
  flex: 1;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 425px) {
  .main-container {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
}
