.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--bg-main);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  /* max-width: 800px; */
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
}
