.header {
  width: 100%;
  background-color: var(--bg-header-main);
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid var(--border-subtle);
}
.navContainer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
}
.logo {
  font-family: var(--font-family-Kanit);
  font-style: italic;
  font-weight: 900;
  font-size: 22px;
  color: var(--secondary-500);
  height: 100%;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.link {
  color: var(--text-secondary);
  font-weight: 500;
  /* border-bottom: 1px solid transparent; -- тут 1 пиксель и блядь криво */
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5px;
}
.link.active {
  color: var(--btn-text);
  /* border-bottom: 1px solid red; -- тут поменять если подчеркивать */
}
.adding {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: row-reverse;
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 1.2;
}
.nickname {
  font-size: 0.85rem;
}
.statusText {
  font-size: 10px;
  color: var(--btn-text);
}
.loginBtn {
  padding: 4px 12px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

/*/////-----*/
/*/////-----*/
@media (min-width: 1200px) {
  .header {
    height: 100px;
  }
  .navContainer {
    max-width: 1200px;
    padding: 0 40px;
  }
  .nav {
    gap: 40px;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 36px;
    padding-right: 40px;
  }
}
