.toggleSize {
  padding: 6px;
  border-radius: 12px;
  width: 36px;
  height: 36px;
  line-height: 1;
  font-size: 20px;
}
@media (min-width: 1200px) {
  .toggleSize {
    width: 36px;
    height: 36px;
    font-size: 24px;
  }
}
