.container {
  padding: 10px 0;
  background-color: var(--bg-main);
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/bg.png");
  background-size: cover;
  background-position: center;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.headerText {
  color: var(--accent);
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  text-align: center;
}
.matchDate {
  font-size: 14px;
  color: #888;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/bg.png");
  background-size: cover;
  background-position: center;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.teamBlock {
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.teamName {
  color: var(--text-muted);
  font-size: 20px;
  font-weight: 700;
}

.scoreBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  min-width: 80px;
}

.score {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 4px;
  color: var(--text-muted);
}

.statusBadge {
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.finished {
  background-color: rgba(255, 255, 255, 0.1);
  color: #aaa;
}

.live {
  background-color: rgba(255, 122, 0, 0.1);
  color: #ff7a00;
}
