.footer {
  width: 100%;
  background-color: var(--background-header);
  padding: 15px 0;
  margin-top: auto;
  border-top: 1px solid var(--border-subtle);
}
.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  color: var(--text-secondary);
  font-size: 14px;
}
.logo {
  font-family: var(--font-family-Kanit);
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  color: var(--text-secondary-white);
  display: flex;
  align-items: center;
  text-align: center;
}
.copyright {
  color: var(--text-secondary);
  font-size: 12px;
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .footer {
    height: 100px;
  }
  .navContainer {
    max-width: 1200px;
    padding: 0 40px;
  }
  .logo {
    font-size: 36px;
  }
}
