.footer {
  width: 100%;
  height: 40px;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  background-color: var(--background-header);
}
.navContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.logo {
  font-family: var(--font-family-Kanit);
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  /* padding: 0 40px 0 40px; */
}

@media (min-width: 1200px) {
  .footer {
    height: 100px;
  }
  .navContainer {
    max-width: 1200px;
    padding: 0 40px;
  }
  .logo {
    font-size: 36px;
  }
}
