.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--bg-card);
  border-radius: 16px;
  border: 1px solid var(--primary-500);
  box-shadow: 0 4px 6px 0px rgba(249, 115, 22, 0.4);
}

.input {
  width: 100%;
  padding: 14px;
  background: var(--input-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  color: var(--text-main);
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}
.input:hover {
  border-color: #676767;
}
.input:focus {
  border-color: var(--accent);
  background: var(--input-bg);
  box-shadow: 0 0 4px 2px rgba(249, 115, 22, 0.4);
  color: var(--text-main);
}
.input::placeholder {
  color: #7a7a7a;
  font-size: 14px;
  letter-spacing: 1.05;
}

.input::selection {
  background: var(--accent);
  color: #000;
}
