.main {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7vh;
  gap: 12px;
}
.title {
  font-family: var(--font-family-Kanit);
  color: var(--text-main);
  /* padding-bottom: 10px; */

  font-size: 18px;
  text-align: center;
  /* text-transform: uppercase; */
}
.text {
  color: var(--text-main);
  /* padding: 10px 0; */

  font-size: 13px;
  /* font-style: italic; */
  text-align: center;
}

.text a {
  color: var(--primary-500);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: 5px;
}

.text a:hover {
  color: var(--primary-100);
  text-decoration: dashed underline;
}
